.LoginSignup{
    background: linear-gradient(180deg, #b3ee53, #b7d7c122 60%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LoginSignup-container{
      height: auto;
      width: 500px;
      background: white;
      border-radius: 8px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
}

.form-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.signup{
    font-size: 26px;
    font-weight: 700;
    margin-top: 15px;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.inputs input{
    height: 35px;
   padding: 4px;
   padding-left: 30px;
    border: 1px solid gray;
    outline: none;
    border-radius: 15px;
    font-size: 14px;
    color: #787878;
}
.inputs button{
    height: 40px;
    font-size: 17px;
    border: 1px solid gray;
    border: none;
    outline: none;
    background: #ff4141;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
}

.login{
    display: flex;
    justify-content: flex-start;
    column-gap: 0;
}

.login span{
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(216, 16, 16);
    cursor: pointer;
}

.terms{
    display: flex;
    gap: 3px;
  padding-bottom: 20px;
}
@media (max-width:1000px){
  .login{
     flex-direction: row;

  }
}



@media (max-width:768px){
    .LoginSignup-container{
        width: 80%;
        padding: 10px;
    }
    .inputs input{
        height: 20px;
    }

    .login{
        font-size: 12px;
    }
    .login span{
        font-size: 10px;
    }
    .terms p{
        font-size: 12px;
    }
}